<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/quienes.css">
</head>

<body>
    <div class="container my-5">
        <h2 class="text-center mb-4 fw-bold">Quiénes Somos</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="about-image">
                    <img src="/static/img/quienes_somos.jpg" alt="Quiénes Somos" class="img-fluid rounded">
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-text">
                    <h3>Nuestra Misión</h3>
                    <p>Trabajamos por la dignidad de todas las personas, para que sean protagonistas de su propio
                        desarrollo. Garantizamos su acceso a los derechos fundamentales, promoviendo la justicia,
                        igualdad y el respeto a la diversidad cultural, que contribuya a la paz.</p>
                    <h3>Nuestra Visión</h3>
                    <p>Queremos ser una plataforma líder en conectar personas y empresas con causas que necesiten su
                        ayuda, ofreciendo un medio seguro, fácil y eficiente para realizar donaciones que marquen la
                        diferencia en las vidas de quienes más lo necesitan.</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>