<!-- encuestas/templates/encuestas/donar_producto.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donar Producto</title>
    <link rel="stylesheet" href="{% static 'css/estiloDonaciones.css' %}">
</head>
<body>

    <hr>
    
    
    <form method="post" enctype="multipart/form-data">
        <h2>Formulario de Donación de Producto</h2>
        <h1>Donar Producto</h1>
        {% csrf_token %}
        {{ form_producto.as_p }}
   
      <hr>

     <h2>Encuestas Activas</h2>
     <ul>
        {% for encuesta in encuestas %}
            <li>
                <h3>{{ encuesta.texto_encuesta }}</h3>
                {{ form_encuesta.as_p }}
                {% if encuesta.activa %}
                {% else %}
                    <p>Esta encuesta está desactivada.</p>
                {% endif %}
            </li>
        {% empty %}
            <li>No hay encuestas disponibles.</li>
        {% endfor %}
     </ul>
     <button type="submit">Enviar Respuesta</button>
    </form>



    
</body>
</html>
