{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Donados</title>
    <link rel="stylesheet" href="{% static 'css/estiloProductosDonados.css' %}">
</head>
<body>
    <div class="header">
        <h1>Productos Donados</h1>
    </div>

    {% if productos %}
        <ul>
            {% for producto in productos %}
                <li>
                    <h2>{{ producto.nombre }}</h2>
                    <p>{{ producto.descripcion }}</p>
                    
                    {% if producto.imagen %}
                        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }} Imagen">
                    {% else %}
                        <p>No hay imagen disponible</p>
                    {% endif %}

                    <!-- Formulario para eliminar el producto donado -->
                    <form action="{% url 'eliminar_producto_donado' pk=producto.pk %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Eliminar</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay productos donados disponibles</p>
    {% endif %}
</body>
</html>
