<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="shortcut icon" href="{% static 'img/logoDonaYdecideDef.png'%}">
    <link rel="stylesheet" href="{% static 'css/estiloCartasDona_YDecide2.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <!-- navbar -->
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img class="logo-navb logoMod" width="50px" height="50px" src="{% static 'img/logoDonaYdecide.jpg'%}">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" style="color: aqua;" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active"  style="color: aqua;" href="#">Link</a>
                        </li>
                    </ul>
                    <div class="nav-item">
                        {% if request.user.is_authenticated %}
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false" style="color:aqua;">
                                Bienvenido, "{{ user.username }}"
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesion</a></li>
                                
                            </ul>
                        </div>
                        
                        
                            
                        {% endif %}
                    </div>


                </div>
            </div>
        </nav>
    </header>
    <!-- cards -->
    <div class="container">
        <div class="row">
            <div class="col d-print-inline-flex  col-xs-12">
                <div class="card ">
                    <img src="{% static 'img/parlante1.jpg' %}" alt="" class="card-img-top">
                    <h4>Parlantes Xtech Luces Leds</h4>
                    <li>Precio:$15.000</li>
                    <li>Oferta:$11.390</li>
                    <div class="text-center">
                        <a href="">
                            <button type="button" class="btn btn-primary">Comprar</button>
                        </a>
                    </div>
                </div>


            </div>
            <div class="col d-print-inline-flex  col-xs-12">
                <div class="card">
                    <img src="{% static 'img/pendrive1.jpg' %}" alt="" class="card-img-top">
                    <h4>Pendrive Sandisk 32GB</h4>
                    <li>Precio:$5.000</li>
                    <li>Oferta:$3.390</li>
                    <div class="text-center">
                        <a href="">
                            <button type="button" class="btn btn-primary">Comprar</button>
                        </a>
                    </div>
                </div>


            </div>
            <div class="col d-print-inline-flex col-xs-12">
                <div class="card">
                    <img src="{% static 'img/llavero1.jpg' %}" alt="" class="card-img-top">
                    <h4>Llavero Game Boy Metal</h4>
                    <li>Precio:$7.000</li>
                    <li>Oferta:$5.990</li>
                    <div class="text-center">
                        <a href="">
                            <button type="button" class="btn btn-primary">Comprar</button>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col d-print-inline-flex  col-xs-12">
                <div class="card">
                    <img src="{% static 'img/audifonos1.jpg' %}" alt="" class="card-img-top">
                    <h4>Logitech G433 Black</h4>
                    <li>Precio:$135.230</li>
                    <li>Oferta:$98.688</li>
                    <div class="text-center">
                        <a href="">
                            <button type="button" class="btn btn-primary">Comprar</button>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col d-print-inline-flex  col-xs-12">
                <div class="card">
                    <img src="{% static 'img/carcasa1.jpg' %}" alt="" class="card-img-top">
                    <h5>Carcasa Colo-Colo Iphone SE </h5>
                    <li>Precio:$5.000</li>
                    <li>Oferta:$4.390</li>
                    <div class="text-center">
                        <a href="">
                            <button type="button" class="btn btn-primary">Comprar</button>
                        </a>
                    </div>
                </div>
            </div>



            <div class="col d-print-inline-flex col-xs-12">
                <div class="card">
                    <img src="{% static 'img/pcgamer1.jpg' %}" alt="" class="card-img-top">
                    <h5>HP Pavilion Gaming</h5>
                    <li>Precio:$995.000</li>
                    <li>Oferta:$665.000</li>
                    <div class="text-center">
                        <a href="">
                            <button type="button" class="btn btn-primary">Comprar</button>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>