/* static/css/funciona.css */

/* Estilos generales del cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Color de fondo claro */
    color: #333; /* Color de texto principal */
    padding: 20px; /* Añadido espacio de relleno al cuerpo */
}

/* Estilos para la sección "Cómo funciona" */
.como-funciona {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff; /* Fondo blanco para el contenedor */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 40px 20px; /* Espaciado interno */
    text-align: left; /* Alineación del texto a la izquierda */
}

.como-funciona h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.como-funciona p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px; /* Espacio inferior entre párrafos */
}

.como-funciona ul {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0;
}

.como-funciona ul li {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.como-funciona ul li strong {
    color: #007bff; /* Color azul para los textos en negrita */
}

.como-funciona h6 {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

/* Estilos CSS para ampliar la imagen */
.img {
    max-width: 100%; /* Ajusta la imagen al ancho máximo del contenedor */
    height: auto; /* Ajusta automáticamente la altura en función del ancho */
    display: block; /* Asegura que la imagen se muestre como bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}
