/* static/css/productos.css */

/* Importar la fuente Merriweather de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
/* Importar la fuente Merriweather de Google Fonts */
/* Estilo para el logo */
.logo {
    width: 80px;
    border-radius: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #d4a373;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.category-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem;
}

.category {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    overflow: hidden;
    text-align: center;
    width: 370px;
}

.category a {
    color: inherit;
    text-decoration: none;
}

.category img {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.category h2 {
    margin: 0;
    padding: 1rem;
    background-color: #fff;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card img {
    height: 200px;
    object-fit: cover;
}

h2, h3, .card-title {
    color: #5f4b32;
}

/* CSS para el home de la página */

/* Importar la fuente Merriweather de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    background-color: #f9f6f1;
    color: #333;
}

.navbar {
    background-color: #fff;
    border-bottom: 1px solid #e3e3e3;
}

.nav-link {
    color: #7f6d4e !important;
}

.nav-link:hover {
    color: #5f4b32 !important;
}

.btn-primary {
    background-color: #d4a373;
    border-color: #d4a373;
}

.btn-primary:hover {
    background-color: #b68c62;
    border-color: #b68c62;
}

.btn-outline-primary {
    color: #d4a373;
    border-color: #d4a373;
}

.btn-outline-primary:hover {
    background-color: #d4a373;
    color: #fff;
}

footer {
    background-color: #fff;
    border-top: 1px solid #e3e3e3;
}

.nav-link.px-2.text-muted {
    color: #7f6d4e !important;
}

.nav-link.px-2.text-muted:hover {
    color: #5f4b32 !important;
}

.text-muted {
    color: #7f6d4e !important;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container h2 {
    color: #5f4b32;
    margin-bottom: 20px;
}
